<!DOCTYPE html>
<html lang="en">
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<head>
  <title>WHERE'S THE DROP?!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="../assets/css/scaffolds.css.scss" rel="stylesheet" media="screen">
</head>
<body>
    <h1><a href="/" id="main-title" title="Where's the Drop?!">the<b>DROP</b></a></h1>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
<div id="container">
<%= yield %>
</div>
</body>
</html>
