<!DOCTYPE html>
<html lang="en">
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<head>
  <row><title>WHERE'S THE DROP?!</title></row>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="../assets/css/scaffolds.css.scss" rel="stylesheet" media="screen">
</head>
<body>
  <div class="row-fluid">
    <div class="span6 offset3">
      <div id="top-header"><h1><a href="/" id="main-title" title="Where's the Drop?!">Where's the Drop?!</a></h1></div>
    </div>
  </div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
<div id="container">
<%= yield %>
</div>
</body>
</html>
